dwComponent.html

<div class="flex-container">
  <div class="flex-item">abc</div>
  <div class="flex-item">def</div>
</div>

<div class="flex-container">
  <!--<button (click)="getData()">getData</button>-->
  <div class="flex-item"><dw-project-nav [projects]="projects">project-nav</dw-project-nav></div>
  <!--<dw-base-area>dw-base-area</dw-base-area>-->
  <dw-base-area class="flex-item" [content]="content">dw-base-area</dw-base-area>
  <dw-info-area class="flex-item" [infocontent]="infoContent">dw-info-area</dw-info-area>
</div>

<!--<div>projects <pre>{{projects | json}}</pre></div>-->
